---
[route]
path = "index.html"

[data]
meta_title = "my title"
meta_description = "my description"
name = "{{settings.name}}"
arrayel1 = "{{settings.arr.[1]}}"
arrayel00 = "{{settings.arr.[0].[0]}}"
syncfn = "{{sync-service.syncfn}}"
---
{{#> layout-default}}
<h1>Hello World from handlebars!</h1>
<p>{{test-helper "data" "data2"}}</p>
<p>{{> my-new-partial}}</p>
<pre>
settings.name: {{settings.name}}
name: {{name}}
arrayel1: {{arrayel1}}
arrayel00: {{arrayel00}}
syncfn: {{syncfn}}
toml-test: {{toml-test.somekey}}
api-key: {{settings.apiKey}}
</pre>
$config: {{{_inspect $.config}}}
$request: {{{_inspect $.request}}}
<p>Internal links:</p>
<ul>
  <li><a href="{{$.config.url}}{{$.config.basePath}}">{{$.config.url}}{{$.config.basePath}}</a></li>
  <li><a href="{{$.config.basePath}}">{{$.config.basePath}}</a></li>
  <li><a href="{{$.config.basePath}}index.html">{{$.config.basePath}}index.html</a></li>
  <li><a href="{{$.config.basePath}}test.html">{{$.config.basePath}}test-empty.html</a></li>
  <li><a href="{{$.config.basePath}}test2.html">{{$.config.basePath}}test-broken.html</a></li>
  <li><a href="{{$.config.basePath}}image.svg">{{$.config.basePath}}image.svg</a></li>
  <li><a href="{{$.config.basePath}}subdir/">{{$.config.basePath}}subdir/</a></li>
  <li><a href="{{$.config.basePath}}subdir/index.html">{{$.config.basePath}}subdir/index.html</a></li>
  <li><a href="{{$.config.basePath}}redirect">{{$.config.basePath}}redirect</a></li>
  <li><a href="{{$.config.basePath}}no-template.html">{{$.config.basePath}}no-template.html</a></li>
  <li><a href="{{$.config.basePath}}no-template-no-frontmatter.html">{{$.config.basePath}}no-template-no-frontmatter.html</a></li>
  <li><a href="{{$.config.basePath}}md-test.html">{{$.config.basePath}}md-test.html</a></li>
  <li><a href="{{$.config.basePath}}plaintext-test.html">{{$.config.basePath}}plaintext-test.html</a></li>
  <li><a href="{{$.config.basePath}}handlebars-helpers.html">{{$.config.basePath}}handlebars-helpers.html</a></li>
</ul>

{{/layout-default}}
